/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* HEADER  */
.head__container {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

#logo {
   padding-top: 20px;
   padding-left: 10px;
   vertical-align: top;
}

.main__title {
    padding-top: 20px;
    font-size: 40px;
    display: inline-block;
}

/* MAIN */

.container {
    margin-top: 50px;
    width: 70%;
    height: 80px;
    background-color: #fff;
    margin-left: 15%;
    padding: 10px;
}

.task {
    display: inline-block;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px; 
    background-color: #47adf1;
}

.text__task {
    color: #fff;
}

.section {
    display: inline-block;
    border: solid 1px #dfe2e4;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.text__section {
    color: #dfe2e4;
}
/* SECTION 2 */

.container2 {
    margin-top: 5px;
    width: 70%;
    height: auto;
    background-color: #fff;
    margin-left: 15%;
    padding: 10px;;
}

.title2 {
    font-size: 30px;
    margin-top: 30px;
}

.triangle {
    vertical-align: top;
}

.check { 
    padding: 2px;
    font-size: 20px;
    color: #84cebd;
    border: solid 1px #84cebd;
    border-radius: 60%;
}

.delete {
    padding: 2px;
    font-size: 16px;
    color: #ea4237;
    border: solid 1px #ea4237;
    border-radius: 60%;
}

.container__section {
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
    border-radius: 35%;
    text-align: center;
}

.line {
    margin-top: 10px;
}

.text{
    color: #fff;
    font-size: 12px;
}

/* COLOR BACKGROUND */

.color-blue {
    background-color: #47adf1;
}

.color-violet {
    background-color: #9c72e4;
}

.color-green {
    background-color: #64c0a9;
}

.color-orange {
    background-color: #f29e33;
}

.color-pink {
    background-color: #d863a1;
}

.color-lightgreen {
    background-color: #b0c926;
}